@import "variables";

@media screen and (max-width:767px){
    #sidemenu {
        width: 100%;
        background-color: #17203f;
        transition: all 0.1s ease;
        overflow-y: auto;
        position: fixed;
        z-index: 999;
        min-height: 100vh;
        overflow-y: auto;
    }
}