.shadow-btn-s {
  box-shadow: 0 13px 9px #bbb6b1;
}

.shadow-card {
  box-shadow: 0 30px 20px rgba(246, 245, 254, 0.2);
}

.bg-gradient {
  background: linear-gradient(to right, #1c105e, #2d063c);
}

.bg-light {
  background-color: #fff;
}

.bg-grey {
  background-color: #8FA9D2;
}

.bg-p {
  background-color: #1D2D47;
}

.bg-p-lite {
  background-color: #566D92;
}

.bg-success {
  background-color: #1ab156;
}

.bg-darkgreen {
  background-color: #375E6E;
}

.bg-litegreen {
  background-color: #E4F2F8;
}

.txt-p {
  color: #1D2D47;
}

.txt-p-lite {
  color: #566D92;
}

.txt-lite {
  color: #fff;
}

.txt-grey {
  color: #8FA9D2;
}

.txt-success {
  color: #1ab156;
}

.txt-err {
  color: #f64e4e;
}

.txt-gold {
  color: #FFA914;
}

.txt-dark {
  color: #0F1A2C;
}

.txt-luminous {
  color: #A4938D;
}

.txt-darkgreen {
  color: #375E6E;
}

.font-pop, .pop-lite, .btn, .pop-reg, .pop-heavy, .btn-strong {
  font-family: "Poppins", sans-serif;
}

.font-opens {
  font-family: "Open Sans", sans-serif;
}

.pop-heavy, .btn-strong {
  font-weight: bold;
}

.pop-reg {
  font-weight: normal;
}

.pop-lite, .btn {
  font-weight: normal !important;
}

.para-xs {
  font-size: 12px !important;
}

.para-sm, .form-group label {
  font-size: 14px !important;
}

.para-reg {
  font-size: 16px !important;
}

.para-lg, .input-mega input, .input-mega .input-group-text, .input-mega input:focus {
  font-size: 18px !important;
}

.para-xl {
  font-size: 20px !important;
}

.h-s {
  font-size: 22px !important;
}

.h-m {
  font-size: 24px !important;
}

.h-l {
  font-size: 28px !important;
}

.h-xl {
  font-size: 32px !important;
}

.h-xxl {
  font-size: 34px !important;
}

.h-xxxl {
  font-size: 42px !important;
  line-height: 30px;
}

.btn {
  width: auto;
  height: 50px;
  line-height: 20px;
  border-radius: 5px !important;
  border: none;
  padding: 15px 30px !important;
}

.btn-default {
  background: #fff;
  box-shadow: 0 0 5px #8aa4af4d;
  padding: 15px 20px !important;
  min-width: none;
  width: auto;
}
.btn-default:hover {
  color: #1D2D47;
}

.btn-p {
  background-color: #1D2D47;
  color: #fff !important;
}

.btn-light-p {
  background-color: #fff;
  color: #1D2D47;
}

.btn-s {
  background-color: #239597;
  color: #fff;
}
.btn-s:hover {
  background-color: #3DC0C2;
  color: #fff;
}

.btn-outline-s {
  background: transparent;
  color: #0F1A2C;
  border: 1px solid #8FA9D2;
}

.btn-outline-p {
  background: transparent;
  color: #0F1A2C !important;
  border: 1px solid #1D2D47;
}
.btn-outline-p:hover {
  background: #1D2D47;
  border-color: #1D2D47;
  color: #fff !important;
}

.btn-outline-success {
  border: 1px solid #1ab156 !important;
  color: #1ab156;
}
.btn-outline-success:hover {
  background: #1ab156;
  border-color: #1D2D47;
  color: #fff !important;
}
.btn-outline-success[disabled] {
  color: #8FA9D2 !important;
  border-color: #8FA9D2 !important;
}

.btn-capsule {
  border-radius: 35px !important;
}

.btn-auto {
  width: auto !important;
  min-width: none !important;
  height: auto;
  min-height: auto;
}

.btn-mini {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: normal;
}

.btn-sm {
  height: 40px !important;
  line-height: 10px !important;
  min-width: 0 !important;
  padding: 15px 25px !important;
}

a:not(footer a) {
  color: #1D2D47;
}

.link-s {
  color: #239597;
}

.link-light a,
a .link-light {
  color: #fff;
}
.link-light a:hover,
a .link-light:hover {
  color: #1D2D47;
  text-decoration: none;
}

.link-dark a,
a .link-dark {
  color: #0F1A2C;
}
.link-dark a:hover,
a .link-dark:hover {
  color: #1D2D47;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.w100,
.w100 * {
  width: 100%;
}

.h-100 {
  min-height: 100vh !important;
}

.mh80 {
  min-height: 80vh;
}

.form-group {
  position: relative;
  margin-top: 20px;
}
.form-group label {
  color: #8FA9D2;
  display: inline-block;
  background: #fff;
}

thead {
  background-color: #1D2D47;
  border: none;
  color: #fff;
}

html,
body {
  width: 100%;
  height: auto;
  background-color: #E6EDF8;
}

img {
  max-width: 90%;
}

.my-5e {
  margin: 5em 0;
}

.content-wrapper {
  width: calc(100% - 50px);
  margin-left: 50px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #273050 #17203f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #17203f;
}

*::-webkit-scrollbar-thumb {
  background-color: #273050;
  border-radius: 10px;
  border: 3px none #273050;
}

input[type=text],
input[type=password],
input[type=email],
input.form-control,
.input-group-text,
select.form-control,
textarea.form-control {
  border: 1px solid #8FA9D2;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  padding: 0 15px;
}

textarea.form-control {
  height: auto;
  padding-top: 15px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/ddarrow.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.input-group-text {
  background-color: #8FA9D2;
  color: #fff !important;
}

.input-group-prepend {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group-prepend + input {
  border-left: none;
}

.section-heading h2 {
  margin-bottom: 45px;
}

#wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  overflow: hidden;
  margin-top: 80px;
}

#pagewrapper {
  height: calc(100vh - 80px);
  margin-top: 80px;
}
#pagewrapper .container {
  margin-top: 30px;
  max-width: 80%;
}

.navbar-brand {
  display: inline-block;
  max-width: 200px;
}

.card {
  border-radius: 10px;
  border: none;
}

.input-group-text {
  min-width: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #0F1A2C;
}

span.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  background: #f5f5f5;
}

nav {
  margin-bottom: 2em;
  height: 80px;
  background-color: #17203f;
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.05);
}
nav a:not(.dropdown-item) {
  display: inline-block;
  margin: 0 10px;
  color: #fff !important;
}
nav a:not(.dropdown-item):hover {
  color: #239597 !important;
}
nav .btn-nav {
  height: 45px;
  line-height: 20px;
  padding: 15px 35px;
}

#sidemenu {
  width: 250px;
  background-color: #17203f;
  transition: all 0.1s ease;
  overflow-y: auto;
}
#sidemenu a {
  color: #8FA9D2;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
}
#sidemenu a:hover {
  background-color: #1D2D47;
  color: #fff;
}
#sidemenu a i {
  margin-right: 10px;
}
#sidemenu a.active {
  background-color: #0F1A2C;
  color: #239597;
}
#sidemenu ul {
  max-height: 86vh !important;
  overflow: hidden;
  overflow-y: auto;
}
#sidemenu ul ul {
  background-color: #273050;
  padding: 0;
  display: none;
}
#sidemenu ul ul li a {
  padding: 8px 15px;
}

li.dd > a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
}

#sidemenu.collapsed {
  width: 60px;
  display: block;
  overflow-y: hidden;
}
#sidemenu.collapsed ul {
  text-align: center;
}
#sidemenu.collapsed ul a span {
  display: none;
}

ul.order-brief li {
  border-bottom: 1px solid #dfe5e8;
  padding: 10px 0;
}

.table-input {
  position: relative;
}
.table-input span {
  position: absolute;
  display: block;
  height: 28px;
  padding: 0 5px;
  top: 1px;
  left: 1px;
  font-size: 14px;
  line-height: 28px;
}
.table-input input,
.table-input select {
  height: 30px !important;
  padding: 0 10px 0 30px;
  margin: 0px 0px 0 0;
  width: 90px;
  border-radius: 0;
  border: 1px solid #8FA9D2;
  font-size: 16px;
  text-align: right;
  border-radius: 3px;
}

.input-group-text.disabled {
  background: #8FA9D2;
}

#formaside {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 1px 40px 10px rgba(0, 0, 0, 0.2);
}

.panel-header {
  border-bottom: 1px solid #dfe5e8;
}

.form-group.in-table {
  margin: 0 !important;
}
.form-group.in-table input,
.form-group.in-table select {
  width: 150px;
  height: 30px;
  margin: 5px 0;
  border: 1px solid #b9d2dc;
}

table tbody tr:nth-child(odd) {
  background: #f8fafa;
}

thead th {
  padding: 10px !important;
  font-weight: normal !important;
}

.mp-notebox {
  position: absolute;
  cursor: pointer;
}
.mp-notebox:hover .mp-note {
  display: block;
}
.mp-notebox:hover i {
  color: #1D2D47;
}

.mp-note {
  display: none;
  position: relative;
  padding: 10px;
  max-width: 350px;
  background: #fff;
  border: 1px solid #b9d2dc;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 9998;
}

.table-mplan {
  overflow: visible;
}

.mdmcbox {
  position: relative;
}

.mdmc {
  display: none;
  position: absolute;
  left: -80px;
  top: 40px;
  padding: 10px;
  width: 220px;
  max-width: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  z-index: 9999;
}
.mdmc:after {
  width: 0;
  height: 0;
  border-width: 0 15px 21px 15px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  position: absolute;
  top: -15px;
  left: 80px;
  content: " ";
}
.mdmc .input-group {
  margin-top: 5px;
}
.mdmc .input-group input {
  max-width: 150px;
  height: 30px;
  font-size: 14px;
}
.mdmc .input-group button {
  height: 30px;
  width: 30px;
  line-height: 10px !important;
  min-width: none;
  padding: 0px !important;
  color: #fff;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mdcaller:hover {
  color: #f64e4e;
}

.transcross {
  color: #f64e4e;
  transition: all 1s ease;
}
.transcross i {
  transform: rotate(45deg);
}

.err {
  border: 1px solid #f64e4e !important;
}

.errmsg {
  color: #f64e4e;
}

.offcanvas-end {
  width: 600px;
  max-width: 100%;
}

.toast-box {
  top: 110px;
}

.toast .btn-close {
  top: 10px !important;
  right: 10px !important;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-check-input:checked {
  background-color: #1D2D47 !important;
  border-color: #1D2D47 !important;
}

.form-check-input + label {
  cursor: pointer;
}

.form-check-input:checked + label {
  color: #1D2D47 !important;
}

#authBox #loginLeft {
  background-color: #fff;
}
#authBox #loginLeft,
#authBox #loginRight {
  width: 50%;
  height: 100vh;
}
#authBox #loginformbox {
  height: 100vh;
}
#authBox #loginRight {
  background: linear-gradient(rgba(29, 45, 71, 0.8), rgba(29, 45, 71, 0.8)), url("../images/loginbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.transcard {
  background-color: white;
  border-radius: 5px;
}
.transcard .dragcard {
  cursor: grab;
  border-radius: 5px;
}

.dropcard {
  border-radius: 5px;
}
.dropcard .dragcard {
  background: #1D2D47;
  border-radius: 5px;
  box-shadow: none;
  color: #fff;
}
.dropcard .dragcard i {
  display: none !important;
}

.powered {
  position: absolute !important;
  bottom: 0 !important;
}

.powered-logo {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
}

.powered-logo.collapsed {
  width: 100%;
  margin: 0;
}

.powered-text {
  display: none;
}
.powered-text a {
  padding: 0 !important;
}

.tcard-form {
  background-color: #f3f3f3;
  padding: 0 10px;
}

.vininput-sm {
  border: 1px solid #b9d2dc;
  border-radius: 5px;
}
.vininput-sm select,
.vininput-sm span {
  height: 30px;
}
.vininput-sm span {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  min-width: 30px;
  border: none;
  background: #fff;
}
.vininput-sm span i.icon:before {
  color: #0F1A2C;
  font-size: 18px;
}
.vininput-sm select {
  border: none;
}

.tcard-form {
  background-color: #f3f3f3;
  padding: 0 10px;
}

.vininput-sm {
  border: 1px solid #b9d2dc;
  border-radius: 5px;
}
.vininput-sm select,
.vininput-sm span {
  height: 30px;
}
.vininput-sm span {
  padding: 0 !important;
  margin: 0 !important;
  width: auto;
  min-width: 30px;
  border: none;
  background: #fff;
}
.vininput-sm span i.icon:before {
  color: #0F1A2C;
  font-size: 18px;
}
.vininput-sm select {
  border: none;
}

.iput-filters, .select2-container--default .select2-selection--single {
  background: #e8ecf1;
  border: none !important;
  height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.teamlist li {
  padding: 8px;
  border-bottom: 1px solid #E6EDF8;
}
.teamlist li a {
  color: #8FA9D2;
}
.teamlist li a:hover {
  color: #f64e4e;
}
.teamlist li:hover {
  background: #E6EDF8;
}

.card-header {
  background-color: #fff;
}

#input-newteam {
  height: 50px;
}

#button-addon2 {
  height: 50px;
  border-radius: 0 5px 5px 0 !important;
}

.input-mega input, .input-mega .input-group-text, .input-mega input:focus {
  height: 60px;
  background-color: #344460;
  border: none;
  color: #fff;
}
.input-mega i {
  color: #91A3C2 !important;
}

.link-grey {
  color: #91A3C2 !important;
}
.link-grey:hover {
  color: #fff !important;
}

.btn-mega {
  height: 70px;
  font-size: 1.5em;
}

.calendar-table th {
  background: #f5f5f5;
  color: #333;
}

@media screen and (max-width: 767px) {
  #sidemenu {
    width: 100%;
    background-color: #17203f;
    transition: all 0.1s ease;
    overflow-y: auto;
    position: fixed;
    z-index: 999;
    min-height: 100vh;
    overflow-y: auto;
  }

  #sidemenu.collapsed {
    width: 0px;
  }

  #pagewrapper .container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
